body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #e9e8e8;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "centurygothic", sans-serif;
  src: local("centurygothic"), url(/fonts/centurygothic.ttf) format(truetype);
}
@media (min-width: 800px) {
  .container {
    width: 760px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 1600px;
  }
}
header .container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  header .container {
    height: 380px;
  }
}
header .container .label {
  width: 120px;
}
@media (min-width: 1024px) {
  header .container .label {
    width: 500px;
  }
}
header .container .label img {
  width: 140%;
}
@media (min-width: 1024px) {
  header .container .label img {
    width: 140%;
  }
}
header .container .adres {
  font-family: Century Gothic;
  font-style: Regular;
  font-size: 10px;
  line-height: 100%;
}
@media (min-width: 1024px) {
  header .container .adres {
    font-size: 36px;
  }
}
header .container .message button {
  font-size: 10px;
  font-weight: 600;
  height: 26px;
  width: 99px;
  background-color: #dd7907;
  border: 0;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  header .container .message button {
    font-size: 32px;
    width: 340px;
    height: 72px;
    border-radius: 10px;
  }
}
header .container .message button a {
  text-decoration: none;
  color: #ffffff;
}
header .container .message button:hover {
  background-color: #140202;
}

.head {
  padding: 0 10px 0 10px;
}
@media (min-width: 1024px) {
  .head {
    height: 60px;
  }
}
.head .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dd7907;
  line-height: 20px;
  margin-bottom: 20px;
}
.head .container a {
  text-decoration: none;
  color: #dd7907;
  font-style: Regular;
  font-size: 9px;
}
@media (min-width: 1024px) {
  .head .container a {
    font-size: 30px;
  }
}
.head .container a:hover {
  font-weight: 600;
}
.head .container .services {
  padding: auto;
}
@media (min-width: 1024px) {
  .head .container .services {
    padding: auto;
  }
}
.head .container .services1 {
  width: 35px;
}
@media (min-width: 1024px) {
  .head .container .services1 {
    width: 120px;
  }
}
.head .container .services2 {
  width: 60px;
}
@media (min-width: 1024px) {
  .head .container .services2 {
    width: 215px;
  }
}
.head .container .services3 {
  width: 35px;
}
@media (min-width: 1024px) {
  .head .container .services3 {
    width: 100px;
  }
}
.head .container .services4 {
  width: 80px;
}
@media (min-width: 1024px) {
  .head .container .services4 {
    width: 250px;
  }
}
.head .container .services5 {
  width: 70px;
}
@media (min-width: 1024px) {
  .head .container .services5 {
    width: 160px;
  }
}
.head .container .services6 {
  width: 45px;
}
@media (min-width: 1024px) {
  .head .container .services6 {
    width: 140px;
  }
}

.brand {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .brand {
    height: 800px;
  }
}
.brand .container {
  display: grid;
  grid-template-columns: 1fr 150px;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .brand .container {
    grid-template-columns: 60% 40%;
  }
}
.brand .container .left p {
  padding-left: 20px;
  font-size: 10px;
  line-height: 100%;
}
@media (min-width: 1024px) {
  .brand .container .left p {
    padding-left: 40px;
    font-size: 32px;
  }
}
@media (min-width: 1440px) {
  .brand .container .left p {
    font-size: 48px;
  }
}
.brand .container .left h1 {
  margin: 0 0 0 10px;
  font-family: Century Gothic;
  font-weight: 400;
  font-size: 27px;
}
@media (min-width: 1024px) {
  .brand .container .left h1 {
    padding-left: 30px;
    font-size: 70px;
  }
}
@media (min-width: 1440px) {
  .brand .container .left h1 {
    padding-left: 35px;
    font-size: 100px;
  }
}
@media (min-width: 1600px) {
  .brand .container .left h1 {
    padding-left: 30px;
    font-size: 110px;
  }
}
@media (min-width: 1720px) {
  .brand .container .left h1 {
    padding-left: 40px;
    font-size: 120px;
  }
}
.brand .container .left .item {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #f1f1f1;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  font-size: 10px;
  line-height: 20px;
}
@media (min-width: 1024px) {
  .brand .container .left .item {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    width: 60%;
    line-height: 64px;
    font-size: 24px;
  }
}
@media (min-width: 1440px) {
  .brand .container .left .item {
    width: 80%;
    font-size: 48px;
  }
}
.brand .container .left .item1 {
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .brand .container .left .item1 {
    margin-top: 80px;
  }
}
.brand .container .rigth {
  overflow: hidden;
  position: relative;
}
.brand .container .rigth .rigth_1 {
  width: 38px;
  height: 44px;
  position: absolute;
  left: 43%;
}
@media (min-width: 1024px) {
  .brand .container .rigth .rigth_1 {
    left: 50%;
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 1280px) {
  .brand .container .rigth .rigth_1 {
    left: 50%;
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 1440px) {
  .brand .container .rigth .rigth_1 {
    width: 160px;
    height: 160px;
    left: 50%;
  }
}
.brand .container .rigth .rigth_2 {
  width: 150px;
  height: 200px;
  position: absolute;
  top: -20px;
}
@media (min-width: 1024px) {
  .brand .container .rigth .rigth_2 {
    width: 500px;
    height: 570px;
    top: -5%;
  }
}
@media (min-width: 1280px) {
  .brand .container .rigth .rigth_2 {
    width: 500px;
    height: 570px;
    top: -5%;
    left: 0;
  }
}
@media (min-width: 1440px) {
  .brand .container .rigth .rigth_2 {
    width: 580px;
    height: 620px;
    top: 0;
    left: 5%;
  }
}
@media (min-width: 1600px) {
  .brand .container .rigth .rigth_2 {
    left: 10%;
  }
}
@media (min-width: 1800px) {
  .brand .container .rigth .rigth_2 {
    width: 500px;
    height: 570px;
    left: 20%;
  }
}
@media (min-width: 2200px) {
  .brand .container .rigth .rigth_2 {
    width: 600px;
    height: 650px;
    left: 15%;
  }
}

.offers {
  background-color: #dd7907;
  padding: 11px;
  position: relative;
  z-index: 5;
}
@media (min-width: 1024px) {
  .offers {
    height: 566px;
    padding: 30px 75px;
  }
}
@media (min-width: 1600px) {
  .offers {
    width: 1440px;
    margin: 0 auto;
  }
}
.offers .container {
  outline: 1px solid #f1f1f1;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .offers .container {
    padding-top: 40px;
    height: inherit;
  }
}
@media (min-width: 1440px) {
  .offers .container {
    width: 1080px;
  }
}
.offers .container .weOffers {
  color: #f1f1f1;
  margin-top: 6px;
  font-weight: 600;
  width: 239px;
  height: 26px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 1024px) {
  .offers .container .weOffers {
    width: 560px;
    font-size: 38px;
    height: 51px;
  }
}
.offers .container .flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  .offers .container .flexContainer {
    margin-top: 60px;
  }
}
.offers .container .flexContainer .cards {
  width: 99px;
  height: 90px;
}
@media (min-width: 1024px) {
  .offers .container .flexContainer .cards {
    width: 420px;
  }
}
.offers .container .flexContainer .cards img {
  width: 29px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .offers .container .flexContainer .cards img {
    width: 130px;
    height: 130px;
  }
}
.offers .container .flexContainer .cards h4 {
  text-align: center;
  color: #f1f1f1;
  font-weight: normal;
  font-size: 10px;
}
@media (min-width: 1024px) {
  .offers .container .flexContainer .cards h4 {
    font-size: 32px;
  }
}
.offers .Group4 {
  height: 125px;
  position: absolute;
  top: 8px;
  left: 0;
  z-index: -1;
}
@media (min-width: 1024px) {
  .offers .Group4 {
    height: 400px;
    width: 300px;
    top: 20%;
  }
}
@media (min-width: 1440px) {
  .offers .Group4 {
    height: 500px;
    width: 400px;
    top: 10%;
  }
}
.offers .Group5 {
  height: 57px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (min-width: 1024px) {
  .offers .Group5 {
    width: 120px;
    height: 120px;
  }
}

.slader {
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 1024px) {
  .slader {
    margin-top: 100px;
    height: 722px;
  }
}
.slader .uslugi {
  color: #dd7907;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .slader .uslugi {
    margin-bottom: 60px;
    font-size: 38px;
  }
}
.slader .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 4px 2px;
}
@media (min-width: 1024px) {
  .slader .container {
    width: 933px;
    box-shadow: 0 0 8px 4px;
  }
}
.slader .container .contBig {
  display: flex;
}
.slader .container .contBig .carusel_slide {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  margin-right: 5px;
}
@media (min-width: 1024px) {
  .slader .container .contBig .carusel_slide {
    gap: 30px;
  }
}
.slader .container .contBig .carusel_slide .contCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
@media (min-width: 1024px) {
  .slader .container .contBig .carusel_slide .contCards {
    gap: 20px;
  }
}
.slader .container .contBig .carusel_slide .contCards .cards {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 4px;
  height: 55px;
  width: 98px;
  box-shadow: 0px 2px 6px 0px;
}
@media (min-width: 1024px) {
  .slader .container .contBig .carusel_slide .contCards .cards {
    height: 216px;
    width: 298px;
  }
}
.slader .container .contBig .carusel_slide .contCards .cards img {
  display: block;
  margin: 0 auto;
  width: 25px;
}
@media (min-width: 1024px) {
  .slader .container .contBig .carusel_slide .contCards .cards img {
    width: 120px;
  }
}
.slader .container .contBig .carusel_slide .contCards .cards p {
  margin-top: 2px;
  text-align: center;
  font-size: 10px;
}
@media (min-width: 1024px) {
  .slader .container .contBig .carusel_slide .contCards .cards p {
    font-size: 32px;
  }
}
.slader .btn {
  opacity: 0.7;
  color: #dd7907;
  background-color: #dd7907;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .slader .btn {
    width: 60px;
    height: 60px;
  }
}
.slader .btn:hover {
  background-color: #140202;
}
.slader .btn-rigth {
  position: absolute;
  top: 55%;
  right: 25%;
}
@media (min-width: 1024px) {
  .slader .btn-rigth {
    top: 42%;
    right: 10%;
  }
}
.slader .btn-left {
  position: absolute;
  top: 55%;
  left: 25%;
}
@media (min-width: 1024px) {
  .slader .btn-left {
    top: 42%;
    left: 10%;
  }
}
.slader .transfornAnimation {
  transition: 0.4s all ease-in-out;
}

.take {
  padding: 25px 40px;
}
@media (min-width: 1024px) {
  .take {
    height: 657px;
  }
}
.take .container {
  border: 1px solid #dd7907;
  border-radius: 15px;
}
@media (min-width: 1024px) {
  .take .container {
    width: 950px;
    height: 520px;
  }
}
.take .container .main {
  font-size: 12px;
  height: 31px;
  width: 191px;
  margin: 5px auto 0 auto;
  text-align: center;
}
@media (min-width: 1024px) {
  .take .container .main {
    font-size: 36px;
    width: 630px;
    height: 90px;
    margin-top: 40px;
  }
}
.take .container form {
  font-size: 10px;
  line-height: 20px;
  width: 250px;
  margin: 0 auto 20px auto;
}
@media (min-width: 1024px) {
  .take .container form {
    width: 750px;
    line-height: 50px;
  }
}
.take .container form label {
  width: 100px;
}
@media (min-width: 1024px) {
  .take .container form label {
    font-size: 36px;
  }
}
.take .container form .inp_1 {
  width: 217px;
  background-color: #e9e8e8;
}
@media (min-width: 1024px) {
  .take .container form .inp_1 {
    font-size: 36px;
    height: 50px;
    width: 667px;
  }
}
.take .container form .inp_2 {
  width: 199px;
  background-color: #e9e8e8;
}
@media (min-width: 1024px) {
  .take .container form .inp_2 {
    font-size: 36px;
    height: 50px;
    width: 600px;
  }
}
.take .container form .inp_3 {
  width: 192px;
  background-color: #e9e8e8;
}
@media (min-width: 1024px) {
  .take .container form .inp_3 {
    font-size: 36px;
    height: 50px;
    width: 578px;
  }
}
.take .container form .inp_4 {
  width: 206px;
  background-color: #e9e8e8;
}
@media (min-width: 1024px) {
  .take .container form .inp_4 {
    font-size: 36px;
    height: 50px;
    width: 629px;
  }
}
.take .container form input {
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.take .container form button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  background-color: #dd7907;
  color: #f1f1f1;
  border-radius: 15px;
  border: 0;
  width: 83px;
  height: 17px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .take .container form button {
    margin-top: 30px;
    text-align: center;
    width: 335px;
    height: 72px;
    font-size: 48px;
  }
}
.take .container form button:hover {
  background-color: #140202;
}

.darts .container {
  box-sizing: border-box;
  padding: 11px 11px 0 11px;
}
@media (min-width: 1024px) {
  .darts .container {
    padding: 0 75px 75px 75px;
  }
}
.darts .container .stocks {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #dd7907;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .darts .container .stocks {
    margin-bottom: 40px;
    font-size: 38px;
  }
}
.darts .container .discount {
  position: relative;
}
.darts .container .discount img {
  box-sizing: border-box;
  box-shadow: 0px 3px 6px 0px;
  border: #dd7907 3px solid;
  width: 100%;
  height: 131px;
}
@media (min-width: 1024px) {
  .darts .container .discount img {
    height: 440px;
  }
}
.darts .container .discount .discountDarts {
  position: absolute;
  top: 10px;
  left: 10px;
}
.darts .container .discount .discountDarts h3 {
  margin: 0 0 10px 0;
  font-size: 10px;
  color: #ffffff;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .darts .container .discount .discountDarts h3 {
    font-size: 36px;
  }
}
.darts .container .discount .discountDarts h4 {
  margin: 0;
  font-size: 10px;
  color: #ffffff;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .darts .container .discount .discountDarts h4 {
    font-size: 32px;
  }
}

footer {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  height: 166px;
  background-color: #dd7907;
}
@media (min-width: 1024px) {
  footer {
    height: 540px;
  }
}
@media (min-width: 1980px) {
  footer {
    margin: 0 auto;
    width: 1600px;
  }
}
footer .abs {
  z-index: 0;
  position: absolute;
  top: -50px;
  width: 200px;
  right: -60px;
}
footer .container {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  footer .container {
    height: inherit;
  }
}
footer .container .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  footer .container .left {
    display: block;
  }
}
footer .container .left h3 {
  text-align: center;
  width: inherit;
  height: 30px;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 1024px) {
  footer .container .left h3 {
    display: inline-table;
    font-size: 38px;
  }
}
footer .container .left .messager {
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  footer .container .left .messager {
    margin: 30px 0;
    font-size: 32px;
  }
}
footer .container .left .messager .phone {
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  footer .container .left .messager .phone {
    font-size: 32px;
  }
}
footer .container .left button {
  margin-top: 5px;
  width: 114px;
  height: 28px;
  font-size: 10px;
  border: 0;
  border-radius: 5px;
  color: #dd7907;
  cursor: pointer;
}
@media (min-width: 1024px) {
  footer .container .left button {
    margin-bottom: 40px;
    font-size: 32px;
    height: 68px;
    width: 330px;
  }
}
footer .container .left button a {
  color: #dd7907;
  text-decoration: none;
}
footer .container .left button:hover {
  background-color: #636c77;
}
footer .container .left .adres {
  text-align: center;
  margin-top: 20px;
  color: #f1f1f1;
  font-weight: 400;
  font-size: 10px;
}
@media (min-width: 1024px) {
  footer .container .left .adres {
    font-size: 32px;
  }
}
footer .container .center {
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}
@media (min-width: 1024px) {
  footer .container .center {
    width: 400px;
  }
}
footer .container .center h2 {
  line-height: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #f1f1f1;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 1024px) {
  footer .container .center h2 {
    line-height: 50px;
    font-size: 38px;
  }
}
footer .container .center a {
  font-size: 10px;
  color: #f1f1f1;
  text-decoration: none;
}
@media (min-width: 1024px) {
  footer .container .center a {
    line-height: 50px;
    font-size: 32px;
  }
}
footer .container .center a:hover {
  text-decoration: underline;
  font-size: 12px;
  color: rgb(211, 211, 211);
}
@media (min-width: 1024px) {
  footer .container .center a:hover {
    font-size: 33px;
  }
}
footer .container .rigth {
  display: flex;
  align-items: center;
}
footer .container .rigth img {
  z-index: 1;
  width: 75px;
  height: 140px;
  border-radius: 10px;
  background-color: #fff;
}
@media (min-width: 1024px) {
  footer .container .rigth img {
    height: 450px;
    width: 388px;
  }
}/*# sourceMappingURL=style.css.map */